<%= app_header %>

    <%= app_header_page %>
        
        <div class='row'>
            <div class='col s12 m6 l6'>
                <div class="card horizontal" onclick="try{ga('send', 'event', 'atHome', 'dashboardProfile')}catch(exception){};location.href='/users/edit'" >
                    <div class="card-image">
                        <img src="assets/programs/dashboard/dashboard_card_profile.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p><%=t"dashboard_see_account"%></p>
                        </div>
                        <div class="card-action">
                            <a href="#"><%=t"dashboard_account"%></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col s12 m6 l6'>
                <div class="card horizontal" onclick="try{ga('send', 'event', 'atHome', 'dashboardTutorial')}catch(exception){};openTutorial()" >
                    <div class="card-image">
                        <img src="assets/programs/dashboard/dashboard_card_tutorial.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p><%=t"dashboard_access_tutorial"%></p>
                        </div>
                        <div class="card-action">
                            <a href="#"><%=t"dashboard_tutorial"%></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col s12 m6 l6'>
                <div class="card horizontal" onclick="try{ga('send', 'event', 'atHome', 'dashboardCentralNotification')}catch(exception){};location.href='/system/central'">
                    <div class="card-image">
                        <img src="assets/programs/dashboard/dashboard_card_notification.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p><%=t"dashboard_see_your_notifications"%></p>
                        </div>
                        <div class="card-action">
                            <a href="#"><%=t"dashboard_notifications"%></a>
                        </div>
                    </div>
                </div>
            </div>
      
            <div class='col s12 m6 l6'>
                <div class="card horizontal" onclick="try{ga('send', 'event', 'atHome', 'dashboardCenterHelper')}catch(exception){};location.href='/help'" >
                    <div class="card-image">
                        <img src="assets/programs/dashboard/dashboard_card_help.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p><%=t"dashboard_find_help"%></p>
                        </div>
                        <div class="card-action">
                            <a href="#"><%=t"dashboard_help"%></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col s12 m6 l6'>
                <div class="card horizontal" onclick="try{ga('send', 'event', 'atHome', 'dashboardCenterHelper')}catch(exception){};location.href='/help'" >
                    <div class="card-image">
                        <img src="assets/programs/dashboard/dashboard_card_bug.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p><%=t"dashboard_report_error"%></p>
                        </div>
                        <div class="card-action">
                            <a href="#"><%=t"dashboard_report"%></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col s12 m6 l6'>
                <div class="card horizontal" onclick="try{ga('send', 'event', 'atHome', 'dashboardFiles')}catch(exception){};location.href='/system/files'"  >
                    <div class="card-image">
                        <img src="assets/programs/dashboard/dashboard_card_files.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p><%=t"dashboard_files_info"%></p>
                        </div>
                        <div class="card-action">
                            <a href="#"><%=t"dashboard_files"%></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <%if current_user.admin%>
                <div class='col s12 m6 l6'>
                    <div class="card horizontal"  onclick="try{ga('send', 'event', 'atHome', 'dashboardDeveloper')}catch(exception){};location.href='/system/developer'" class='system_color_background_disabled' >
                        <div class="card-image">
                            <img src="assets/programs/dashboard/dashboard_card_developer.jpg">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p><%=t"dashboard_developer_info"%></p>
                            </div>
                            <div class="card-action">
                                <a href="#"><%=t"dashboard_developer"%></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col s12 m6 l6'>
                    <div class="card horizontal" onclick="try{ga('send', 'event', 'atHome', 'dashboardAccessGroup')}catch(exception){};location.href='/system/group_accesses'" class='system_color_background_disabled'>
                        <div class="card-image">
                            <img src="assets/programs/dashboard/dashboard_access_permission.jpg">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p><%=t"dashboard_group_accesses"%></p>
                            </div>
                            <div class="card-action">
                                <a href="#"><%=t"dashboard_group"%></a>
                            </div>
                        </div>
                    </div>
                </div>
            <%else%>
                <div class='col s12 m6 l6'>
                    <div class="card horizontal" onclick="try{ga('send', 'event', 'atHome', 'dashboardPublic')}catch(exception){};location.href='/?homepage=true'" >
                        <div class="card-image">
                            <img src="assets/programs/dashboard/dashboard_card_public.jpg">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p><%=t"dashboard_public_area"%></p>
                            </div>
                            <div class="card-action">
                                <a href="#"><%=t"dashboard_public"%></a>
                            </div>
                        </div>
                    </div>
                </div>  
            <%end%>
        </div>
        <div id="easter" class="modal bottom-sheet">
            <div class="modal-content">
                <h4><%=t"dashboard_version"%></h4>
                <div class="row">
                    <div class="col s12">
                        <img style='height:auto;width:250px;margin-right:15px;' src='assets/logo/email.png'>
                    </div>
                    <div class="col s9">
                        <div class="row">
                            <div class="col s12">
                                <b><%=t"dashboard_git_version"%>:</b> <%= %x{ git rev-parse HEAD } %>
                            </div>
                            <div class="col s12">
                                <b><%=t"dashboard_git_label"%>:</b> <%= %x{ git log -1 --pretty=%B } %>
                            </div>
                            <div class="col s12" style='margin-top:5px'>
                                <b><%=t"dashboard_ambient"%>:</b> <%=Rails.env %>
                            </div>
                            <div class="col s12">
                                <b><%=t"dashboard_database"%>:</b> <%= Rails.configuration.database_configuration[Rails.env]['database']%>
                            </div>
                            <div class="col s12">
                                <b>URL:</b> <%=request.domain %>
                            </div>
                            <div class="col s12" style='margin-top:5px'>
                                <b><%=t"dashboard_user_last"%>:</b> <%=current_user.current_sign_in_at %>
                            </div>
                            <div class="col s12">
                                <b><%=t"dashboard_user_number"%>:</b> <%=current_user.sign_in_count %>
                            </div>
                            <div class="col s12">
                                <b><%=t"dashboard_user_ip"%>:</b> <%=current_user.current_sign_in_ip%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><%=t"app_understood"%></a>
            </div>
        </div>
        <x-notification></x-notification>
    <%= app_footer_page [1]%>
<%=app_footer%>
<script>
    var array=new Array;document.onkeypress=function(r){r=r||window.event,4==array.length?(array.push(String.fromCharCode(event.which)),array[0]+array[1]+array[2]+array[3]+array[4]==="domum"&&$("#easter").modal('open'),array=new Array):array.push(String.fromCharCode(event.which))};
    $(document).ready(function(){
        $('#tutorial_icon').css('display','');
        
        tutorial        = Array();

        <%if cookies[:tooltip_auto_open] == nil%>
            <%cookies[:tooltip_auto_open] = false %>
            tutorial[0] = Object();
            tutorial[1] = Object();
            tutorial[2] = Object();
            tutorial[3] = Object();
            tutorial[4] = Object();
            tutorial[5] = Object();
            tutorial[6] = Object();

            tutorial[0]['title']        = '<%=t"tutorial_title_step_0"%>';
            tutorial[0]['description']  = '<%=t"tutorial_title_description_0"%>';
            tutorial[0]['image_url']    = '/assets/logo/atHome.svg';
            tutorial[1]['title']        = '<%=t"tutorial_title_step_1"%>'
            tutorial[1]['description']  = '<%=t"tutorial_title_description_1"%>';
            tutorial[1]['image_url']    = '/assets/programs/dashboard/tutorial/machine.svg';
            tutorial[2]['title']        = '<%=t"tutorial_title_step_2"%>'
            tutorial[2]['description']  = '<%=t"tutorial_title_description_2"%>';
            tutorial[2]['image_url']    = '/assets/programs/dashboard/tutorial/account.svg';
            tutorial[3]['title']        = '<%=t"tutorial_title_step_3"%>'
            tutorial[3]['description']  = '<%=t"tutorial_title_description_3"%>';
            tutorial[3]['image_url']    = '/assets/programs/dashboard/tutorial/key.svg';
            tutorial[4]['title']        = '<%=t"tutorial_title_step_4"%>'
            tutorial[4]['description']  = '<%=t"tutorial_title_description_4"%>';
            tutorial[4]['image_url']    = '/assets/programs/dashboard/tutorial/lauching.svg';
            tutorial[5]['title']        = '<%=t"tutorial_title_step_5"%>'
            tutorial[5]['description']  = '<%=t"tutorial_title_description_5"%>';
            tutorial[5]['image_url']    = '/assets/programs/dashboard/tutorial/dashboard.svg';
            tutorial[6]['title']        = '<%=t"tutorial_title_step_6"%>'
            tutorial[6]['description']  = '<%=t"tutorial_title_description_6"%>';
            tutorial[6]['image_url']    = '/assets/programs/dashboard/tutorial/tooltip.svg';

            tooltip = Array();
            tooltip[0] = Object();
            tooltip[1] = Object();
            tooltip[2] = Object();
            tooltip[3] = Object();
            tooltip[4] = Object();

            tooltip[0]['title'] = '<%=t"tooltip_title_step_0"%>';
            tooltip[0]['description'] = '<%=t"tooltip_description_0"%>';
            tooltip[0]['element'] = '#search_menu div paper-item';
            tooltip[0]['position'] = 'left';
            tooltip[0]['top'] = -24;
            tooltip[0]['before'] = "document.querySelector('#search_menu paper-submenu').open()";
            tooltip[1]['title'] = '<%=t"tooltip_title_step_1"%>';
            tooltip[1]['description'] = '<%=t"tooltip_description_1"%>';
            tooltip[1]['element'] = '#card_search';
            tooltip[1]['position'] = 'button';
            tooltip[1]['before'] = "document.querySelector('#search_menu paper-submenu').close()";
            tooltip[2]['title'] = '<%=t"tooltip_title_step_2"%>';
            tooltip[2]['description'] = '<%=t"tooltip_description_2"%>';
            tooltip[2]['element'] = '#card_files';
            tooltip[2]['position'] = 'right';
            tooltip[3]['title'] = '<%=t"tooltip_title_step_3"%>';
            tooltip[3]['description'] = '<%=t"tooltip_description_3"%>';
            tooltip[3]['element'] = '#notification_paper';
            tooltip[3]['position'] = 'right';
            tooltip[3]['top'] = -24;
            tooltip[3]['left'] = -24;
            tooltip[3]['before'] = "document.querySelector('#x_notification').toggle()";
            tooltip[4]['title'] = '<%=t"tooltip_title_step_4"%>';
            tooltip[4]['before'] = "document.querySelector('#x_notification').toggle();document.querySelectorAll('paper-submenu')[3].open()"
            tooltip[4]['description'] = '<%=t"tooltip_description_4"%>';
            tooltip[4]['element'] = "paper-submenu[id='Exemplos']";
            tooltip[4]['position'] = 'left';
            tooltip[4]['left'] = 256;
            tooltip[4]['top'] = -24;

            document.querySelector('x-tutorial').setTutorial(tutorial);
            document.querySelector('x-tooltip').setTooltip(tooltip);
            document.querySelector('x-tooltip').setExecutationOnClose("location.href='/example/tags'");
            document.querySelector('x-tooltip').openTooltip();
        <%end%>

        <%if current_user.sign_in_count != 1 and cookies[:tooltip_narrow_open] != false%>
            <%cookies[:tooltip_narrow_open] = false %>
            tooltip = Array();
            tooltip[0] = Object();

            tooltip[0]['title'] = '<%=t"tooltip_title_step_14"%>';
            tooltip[0]['description'] = '<%=t"tooltip_description_14"%>';
            tooltip[0]['element'] = '#navicon';
            tooltip[0]['position'] = 'top';
            tooltip[0]['left'] = -256;
            //document.querySelector('x-tooltip').setTooltip(tooltip);
            //document.querySelector('x-tooltip').openTooltip();
        <%end%> 
    });
</script>
<%=app_footer%>
