<paper-material elevation='1'>
  <div class='horizontal layout start'>
    <div class='flex-2' style="padding:10px">
      <h1>Termos de Uso</h1>
      <h3>Bem-vindo ao <%=@config.name_sort%></h3>
      <p>
        <%=@config.name_sort%> ("<%=@config.name_sort%>"), é uma pessoa jurídica de direito privado prestadora de serviços de armazenamento e análise de dados ("produtos"), edição de informações para divulgação na internet, voltados a divulgação profissional dos serviços de análise por meio do site <%=@config.name_sort%> ("Plataforma").
      </p>
      <p>
        Por intermédio destes Termos e Condições Gerais de Uso ("Termos"), <%=@config.name_sort%> apresenta aos usuários em geral, aos Compradores dos Serviços e demais usuários (todos em conjunto denominados "Usuários") as condições essenciais para o uso dos serviços oferecidos na Plataforma.
      </p>
      <p>
        Ao utilizar a Plataforma ou utilizar os serviços ofertados pela <%=@config.name_sort%>, os Usuários aceitam e se submetem às condições destes Termos e às Políticas de Privacidade, bem como a todos os documentos anexos a estes.
      </p>
      <h3>
        1. OBJETO
      </h3>
      <p>
        Os serviços objeto dos presentes Termos consistem em: Permitir aos Contratantes que utilizem a Plataforma para livremente e sem direcionamento ou interferência analise os dados inseridos por eles a plataforma;
      </p>
      <p>
        Ofertar e hospedar espaços na Plataforma para que os usuários armazene suas informações seus serviços ("Serviços");
      </p>
      <p>
        Viabilizar a criação, armazenamento e análise de informações.
      </p>
      <p>
        Na qualidade de classificado de Serviços, <%=@config.name_sort%> não impõe ou interfere em qualquer
manipulação de dados realizada pelos usuários, tampouco garante a recuperação de informações excluídas pelo usuários ou demais colaboradores deste usuários.
      </p>
      <p>
        Ao se cadastrar, o Usuário poderá utilizar todos os serviços disponibilizados na Plataforma, declarando, para tanto, ter lido, compreendido e aceitado os Termos.
      </p>
      <h3>
        2. CAPACIDADE PARA CADASTRAR-SE
      </h3>
      <p>
        Os serviços da <%=@config.name_sort%> estão disponíveis para pessoas físicas e pessoas jurídicas regularmente inscritas nos cadastros de contribuintes federal e estaduais que tenham capacidade legal para contratá-los. Não podem utilizá-los, assim, pessoas que não gozem dessa capacidade, inclusive menores de idade ou pessoas que tenham sido inabilitadas da, temporária ou definitivamente. Ficam, desde já, os Usuários advertidos das sanções legais cominadas no Código Civil
      </p>
      <p>
        É vedada a criação de mais de um cadastro por Usuário. Em caso de multiplicidade de cadastros elaborados por um só Usuário, <%=@config.name_sort%> reserva-se o direito de, a seu exclusivo critério e sem necessidade de prévia anuência dos ou comunicação aos Usuários, inabilitar todos os cadastros existentes e impedir eventuais cadastros futuros vinculados a estes.
      </p>
      <p>
        Somente será permitida a vinculação de um cadastro a um CPF, um telefone e um e-mail, não podendo haver duplicidade de dados em nenhum caso.
      </p>
      <p>
        <%=@config.name_sort%> pode unilateralmente excluir o cadastro dos Usuários.
      </p>
      <h3>
        3. CADASTRO
      </h3>
      <p>
        É necessário o preenchimento completo de todos os dados pessoais exigidos pelo <%=@config.name_sort%> no momento do cadastramento, para que o Usuário esteja habilitado a utilizar a Plataforma.
      </p>
      <p>
        É de exclusiva responsabilidade dos Usuários fornecer, atualizar e garantir a veracidade dos
dados cadastrais, não cabendo a <%=@config.name_sort%> qualquer tipo de responsabilidade civil e criminal
resultante de dados inverídicos, incorretos ou incompletos fornecidos pelos Usuários.
      </p>
      <p>
        <%=@config.name_sort%> se reserva o direito de utilizar todos os meios válidos e possíveis para identificar seus Usuários, bem como de solicitar dados adicionais e documentos que estime serem pertinentes a fim de conferir os dados pessoais informados.
      </p>
      <p>
        Caso <%=@config.name_sort%> considere um cadastro, ou as informações nele contidas, suspeito de conter dados errôneos ou inverídicos, <%=@config.name_sort%> se reserva o direito de suspender, temporária ou definitivamente, o Usuário responsável pelo cadastramento, assim como impedir e bloquear qualquer publicidade ou cadastro de Serviços e cancelar anúncios publicados por este, sem prejuízo de outras medidas que entenda necessárias e oportunas. No caso de aplicação de quaisquer destas sanções, não assistirá aos Usuários direito a qualquer tipo de indenização ou ressarcimento por perdas e danos, lucros cessantes ou danos morais
      </p>
      <p>
        O Usuário acessará sua conta por meio de apelido (login) e senha, comprometendo-se a não informar a terceiros esses dados, responsabilizando-se integralmente pelo uso que deles seja feito.
      </p>
      <p>
        O Usuário compromete-se a notificar <%=@config.name_sort%> imediatamente, por meio dos canais de contato mantidos por <%=@config.name_sort%> na Plataforma, a respeito de qualquer uso não autorizado de sua conta. O Usuário será o único responsável pelas operações efetuadas em sua conta, uma vez que o acesso só será possível mediante a utilização de senha de seu exclusivo conhecimento.
      </p>
      <p>
        Em nenhuma hipótese será permitida a cessão, a venda, o aluguel ou outra forma de transferência da conta.
      </p>
      <h3>
        4. MODIFICAÇÕES DOS TERMOS E CONDIÇÕES GERAIS
      </h3>
      <p>
        <%=@config.name_sort%> poderá alterar, a qualquer tempo e a seu único e exclusivo critério, estes Termos. Os novos Termos entrarão em vigor 10 (dez) dias depois de publicados na Plataforma. No prazo de 5 (cinco) dias contados a partir da publicação das modificações, o Usuário deverá informar, por email, caso não concorde com os termos alterados. Nesse caso, o vínculo contratual deixará de existir, desde que não haja contas ou dívidas em aberto. Não havendo manifestação no prazo estipulado, entender-se-á que o Usuário aceitou tacitamente os novos Termos, e o contrato continuará vinculando as partes
      </p>
      <h3>
        5. PRIVACIDADE DA INFORMAÇÃO
      </h3>
      <p>
        Todas as informações ou os dados pessoais prestados pelo Usuário de <%=@config.name_sort%> são armazenados em servidores ou meios magnéticos de alta segurança.
      </p>
      <p>
        <%=@config.name_sort%> tomará todas as medidas possíveis para manter a confidencialidade e a segurança descritas nesta cláusula, mas não será responsável por prejuízo que possa ser derivado da violação dessas medidas por parte de terceiros que utilizem de meios indevidos, fraudulentos ou ilegais para acessar as informações armazenadas nos servidores ou nos bancos de dados utilizados por <%=@config.name_sort%>.
      </p>
      <p>
        <%=@config.name_sort%> não compartilhará as informações prestadas por seus Usuários com terceiros sem a devida anuência
      </p>
      <p>
        <%=@config.name_sort%> coleta e armazena as informações prestadas por seus Usuários, tais como, mas não se limitando a, nome, telefone, CPF, CNPJ, e-mail e dados constantes nos Termos. Estes elementos somente serão utilizados por <%=@config.name_sort%> para melhorar seus processos de identificação, apresentação de Serviços, contato com os Usuários e autenticação de contas.
      </p>
      <p>
        O apelido e a senha de cada Usuário servem para garantir a privacidade e a sua segurança. <%=@config.name_sort%> recomenda a seus Usuários que não compartilhem essas informações com ninguém. <%=@config.name_sort%> não se responsabiliza por danos ou prejuízos causados ao Usuário pelo compartilhamento dessas informações.
      </p>
      <p>
        <%=@config.name_sort%> segue os padrões de segurança comumente utilizados pelas empresas que trabalham com transmissão e retenção de dados para garantir a segurança de seus Usuários. No entanto, nenhum método de transmissão ou retenção de dados eletrônicos é plenamente seguro e pode estar sujeito a ataques externos. Assim, apesar de utilizar meios possíveis e adequados, <%=@config.name_sort%> não pode garantir a absoluta segurança das informações prestadas
      </p>
      <p>
        O nome, e-mail e outros dados dos Usuários poderão ser utilizados para o envio de notificações, propagandas e informações sobre a conta ou Serviços prestados, avisos sobre violações ao Termo e outras comunicações que <%=@config.name_sort%> considerar necessárias. Os Usuários poderão requisitar a <%=@config.name_sort%> a sua exclusão de sua lista de envio de mensagens (mailing). Leia mais em Politica de Privacidade.
      </p>
      <p>
        <%=@config.name_sort%> prestará todas as informações requisitadas por órgãos públicos, desde que devidamente justificadas e compatíveis com a lei em vigor
      </p>
      <h3>
        6. RESPONSABILIDADES
      </h3>
      <p>
        <%=@config.name_sort%> não se responsabiliza por vícios ou defeitos técnicos e/ou operacionais oriundos do sistema do Usuário ou de terceiros
      </p>
      <h3>
        7. ALCANCE DOS SERVIÇOS
      </h3>
      <p>
        Estes Termos não geram nenhum contrato de sociedade, de mandato, de franquia ou relação de trabalho entre <%=@config.name_sort%> e o Usuário. O Usuário manifesta ciência de que <%=@config.name_sort%> não é parte de nenhuma transação realizada pelos Usuários, nem possui controle algum sobre a qualidade, a segurança ou a legalidade dos Serviços realizados pelos Usuários, sobre a veracidade ou a exatidão das informações elaborados pelos Usuários, e sobre a capacidade dos Usuários para manipular a plataforma.
      </p>
      <p>
        O uso comercial da expressão "<%=@config.name_sort%>" como marca, nome empresarial ou nome de domínio, bem como os logos, marcas, insígnias, conteúdo das telas relativas aos serviços da Plataforma e o conjunto de programas, bancos de dados, redes e arquivos que permitem que o Usuário acesse e use sua conta, são propriedade da <%=@config.name_sort%> e estão protegidos pelas leis e pelos tratados internacionais de direito autoral, de marcas, de patentes, de modelos e de desenhos industriais. O uso indevido e a reprodução total ou parcial dos referidos conteúdos são proibidos, salvo com autorização expressa de <%=@config.name_sort%>
      </p>
      <h3>
        8. PROBLEMAS DECORRENTES DO USO DO SISTEMA
      </h3>
      <p>
        <%=@config.name_sort%> não se responsabiliza por qualquer dano, prejuízo ou perda sofridos pelo Usuário em razão de falhas em sua conexão com a internet, com o seu provedor, no sistema, com a linha telefônica ou no servidor utilizados pelo Usuário, decorrentes de condutas de terceiros, caso fortuito ou força maior.
      </p>
      <p>
        <%=@config.name_sort%> também não será responsável por qualquer vírus, trojan, malware, spyware ou qualquer software que possa danificar, alterar as configurações ou infiltrar o equipamento do Usuário em decorrência do acesso, da utilização ou da navegação na internet, ou como consequência da transferência de dados, informações, arquivos, imagens, textos ou áudio.
      </p>
      <h3>
        9. ATUALIZAÇÃO DO SOFTWARE DOS SERVIÇOS
      </h3>
      <p>
        <%=@config.name_sort%> poderá a qualquer momento atualizar este software com o intúito de promover uma melhor experiência ao usuário, inserir ou descontinuar funcionalidades que a <%=@config.name_sort%> acredita tornar o uso do software mais simples ou adequado aos Usuários.
      </p>
      <h3>
        10. INDENIZAÇÃO
      </h3>
      <p>
        O Usuário indenizará <%=@config.name_sort%>, suas filiais, empresas controladas, controladores diretos ou indiretos, diretores, administradores, colaboradores, representantes e empregados, inclusive quanto a honorários advocatícios, por qualquer demanda promovida por outros Usuários ou terceiros, decorrentes das atividades do primeiro na Plataforma, de quaisquer descumprimentos, por aquele, dos Termos e das demais políticas da <%=@config.name_sort%> ou, ainda, de qualquer violação, pelo Usuário, de lei ou de direitos de terceiros.
      </p>
      <div class='vertical layout start'>
        <div>
          <%=@config.name_company%>
        </div>
        <div>
          <%=@config.address_company%>
        </div>
        <div>
          <%=@config.country_company%>
        </div>
        <div>
          <%=@config.email_company%>
        </div>
        <div>
          <%=t'policy_last_update'%> <%=@config.terms_of_user_last_change%>
        </div>
      </div>
    </div>
    <div class='flex-1' style="padding:40px 10px">
      <img src='/assets/site/privacity_shield.svg'>
    </div>
  </div>
</paper-material>
