<p style='font-size: 16px;color:back'>
	<b><%=t"mailer_hello"%> <%=@name %></b>
</p>
<p style='margin: 0px 20px;'>
	<%=t"mailer_yout_account_ended"%> <a href="http://domum.glaucomunsberg.com.br/"><%=System::Config.first.name_sort%></a>. <%=t"mailer_yout_account_ended_info"%>
</p>
