<p style='font-size: 16px;color:back'>
	<b><%=t"mailer_hello"%> <%=@name %></b>
</p>
<p style='margin: 0px 0px 0px 20px;'>
	<%=t"mailer_your_voucher"%>
</p>
<p style='margin: 20px 0px 0px 20px; text-align:center'>
	<a href="<%=@voucher%>"><%=t"mailer_your_voucher_validad"%></a>
</p>